[*.{ps1,psd1,psm1}]
max_line_length = 115
powershell_align_multiline_attribute_argument = false
powershell_align_multiline_binary_operation = false
powershell_align_multiline_block_parameters = false
powershell_align_multiline_catch_type_list = false
powershell_align_multiline_chained_methods = false
powershell_align_multiline_for = true
powershell_align_multiline_parameters = true
powershell_align_multiline_parameters_in_calls = false
powershell_align_multiline_pipeline_statement = false
powershell_attribute_argument_wrap = 0
powershell_binary_operation_wrap = off
powershell_block_brace_style = next_line
powershell_block_parameter_clause_wrap = 0
powershell_block_parameters_lparen_on_next_line = false
powershell_block_parameters_rparen_on_next_line = true
powershell_call_parameters_new_line_after_left_paren = false
powershell_call_parameters_right_paren_on_new_line = false
powershell_call_parameters_wrap = off
powershell_catch_on_new_line = true
powershell_catch_type_list_wrap = 0
powershell_class_annotation_wrap = split_into_lines
powershell_class_brace_style = next_line
powershell_else_on_new_line = true
powershell_field_annotation_wrap = off
powershell_finally_on_new_line = true
powershell_for_statement_new_line_after_left_paren = false
powershell_for_statement_right_paren_on_new_line = false
powershell_for_statement_wrap = off
powershell_keep_blank_lines_in_code = 2
powershell_keep_first_column_comment = true
powershell_keep_line_breaks = true
powershell_keep_simple_blocks_in_one_line = false
powershell_keep_simple_classes_in_one_line = false
powershell_keep_simple_hash_literal_in_one_line = true
powershell_keep_simple_lambdas_in_one_line = true
powershell_keep_simple_methods_in_one_line = false
powershell_method_annotation_wrap = split_into_lines
powershell_method_brace_style = next_line
powershell_method_call_chain_wrap = off
powershell_method_parameters_new_line_after_left_paren = false
powershell_method_parameters_right_paren_on_new_line = false
powershell_method_parameters_wrap = off
powershell_parameter_annotation_wrap = off
powershell_parentheses_expression_new_line_after_left_paren = false
powershell_parentheses_expression_right_paren_on_new_line = false
powershell_pipeline_tail_wrap = 0
powershell_space_after_colon = true
powershell_space_after_comma = true
powershell_space_after_for_semicolon = true
powershell_space_after_type_cast = false
powershell_space_before_annotation_parameter_list = false
powershell_space_before_array_initializer_left_brace = true
powershell_space_before_catch_keyword = true
powershell_space_before_catch_left_brace = true
powershell_space_before_class_left_brace = true
powershell_space_before_colon = false
powershell_space_before_comma = false
powershell_space_before_data_lbrace = true
powershell_space_before_do_left_brace = true
powershell_space_before_else_keyword = true
powershell_space_before_else_left_brace = true
powershell_space_before_finally_keyword = true
powershell_space_before_finally_left_brace = true
powershell_space_before_for_left_brace = true
powershell_space_before_for_parentheses = true
powershell_space_before_for_semicolon = false
powershell_space_before_if_left_brace = true
powershell_space_before_if_parentheses = true
powershell_space_before_method_call_parentheses = false
powershell_space_before_method_left_brace = true
powershell_space_before_method_parentheses = false
powershell_space_before_switch_left_brace = true
powershell_space_before_switch_parentheses = true
powershell_space_before_trap_lbrace = true
powershell_space_before_try_left_brace = true
powershell_space_before_while_keyword = true
powershell_space_before_while_left_brace = true
powershell_space_before_while_parentheses = true
powershell_space_within_empty_method_call_parentheses = false
powershell_space_within_empty_method_parentheses = false
powershell_spaces_around_additive_operators = true
powershell_spaces_around_assignment_operators = true
powershell_spaces_around_bitwise_operators = true
powershell_spaces_around_logical_operators = true
powershell_spaces_around_method_ref_dbl_colon = false
powershell_spaces_around_multiplicative_operators = true
powershell_spaces_around_relational_operators = true
powershell_spaces_around_unary_operator = false
powershell_spaces_within_annotation_parentheses = false
powershell_spaces_within_braces = true
powershell_spaces_within_brackets = false
powershell_spaces_within_cast_parentheses = false
powershell_spaces_within_for_parentheses = false
powershell_spaces_within_if_parentheses = false
powershell_spaces_within_method_call_parentheses = false
powershell_spaces_within_method_parentheses = false
powershell_spaces_within_parentheses = false
powershell_spaces_within_sub_expression_parentheses = true
powershell_spaces_within_switch_parentheses = false
powershell_spaces_within_while_parentheses = false
powershell_special_else_if_treatment = true
powershell_while_on_new_line = false
powershell_wrap_first_method_in_call_chain = false
powershell_wrap_long_lines = false
